<header>
  <div id="particles-js"></div>
  <div class="navbar">
  <section class="navbar-section">
    <a href="..." class="navbar-brand mr-2">
      <img src="https://images2.imgbox.com/ee/08/HK6HyVRD_o.png" style="vertical-align: middle;"/>
      <span class="f-40 fw-600 text-light" style="vertical-align: middle; margin-left: 0.33em;">Jetlife Stacking</span>
    </a>
  </section>
  <section class="navbar-section">
    <ul class="menu menu-text-style">
      <li class="menu-item active">
        <a href="..." class="btn btn-link text-right f-40 fw-600">Home</a>
      </li>
      <li class="menu-item">    
        <a href="..." class="btn btn-link text-right f-40 fw-600 mt-2">Pools</a>
      </li>
      <li class="menu-item">
        <a href="..." class="btn btn-link text-right f-40 fw-600 mt-2">Contact</a>
      </li>
    </ul>
  </section>
  </div>
  <div class="banner">
    <img class="p-centered img-responsive" style="margin-top: -200px;" src="https://images2.imgbox.com/d7/6c/G9NekjJg_o.png" />
    <div class="p-centered">
      <h1 class="text-center f-40 text-light">High performance validators</h1>
    </div>
  </div>
  <div class="banner-divider"></div>
</header>
<body>
  <div class="container">
    <div class="columns">
      <div class="column col-4">
        <h2 class="f-36 fw-600 text-light">High uptime</h2>
        <div class="card">
          <div class="card-body">
            <p>All our validators are hosted in a top tier
            datacenter and monitored 24/7.</p>            
          </div>
        </div>
      </div>
      <div class="column col-4">
        <h2 class="f-36 fw-600 text-light">Experienced team</h2>
        <div class="card">
          <div class="card-body">
            <p>Veteran team with 8 years+ of blockchain
            hosting experience.</p>            
          </div>
        </div>
      </div>
      <div class="column col-4">
        <h2 class="f-36 fw-600 text-light">Slashing protection</h2>
        <div class="card">
          <div class="card-body">
            <p>We offer slashing protection and refund
            the downtime slashing.</p>            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h2 class="f-36 fw-600 text-light">Stake now on</h2>
    <div class="columns">
      <div class="column col-3">
        <div class="card">
          <div class="card-image">
            <img src="img/osx-el-capitan.jpg" class="img-responsive">
          </div>
          <div class="card-body text-center">
            <p>Akash Network</p>            
          </div>
        </div>
      </div>
      <div class="column col-3"></div>
      <div class="column col-3"></div>
      <div class="column col-3"></div>
    </div>
  </div>
</body>
<footer>

</footer>