<header>
  <div class="navbar">
  <section class="navbar-section">
    <a href="..." class="navbar-brand mr-2">
      <img src="@/assets/header_logo.png" />
      <span class="f-40 fw-600 text-light">Jetlife Stacking</span>
    </a>
  </section>
  <section class="navbar-section">
    <ul class="menu menu-text-style">
      <li class="menu-item active">
        <a href="..." class="btn btn-link text-right f-40 fw-600">Home</a>
      </li>
      <li class="menu-item">    
        <a href="..." class="btn btn-link text-right f-40 fw-600 mt-2">Pools</a>
      </li>
      <li class="menu-item">
        <a href="..." class="btn btn-link text-right f-40 fw-600 mt-2">Contact</a>
      </li>
    </ul>
  </section>
  </div>
  <div class="banner">
    <img src="../assets/logo.png" />
  </div>
</header>