html {
  background-color: #AC61F5;
}

* {
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  font-size: 16px;
}

h1 {
  font-size: 40px;
}

.f-40 {
  font-size: 40px;
}

.fw-600 {
  font-weight: 600;
}

header {
  position: relative;
  background-color: #24234A;
}

.menu-text-style {
  box-shadow: none;
  background: none;
  color: #A32792;
  font-family: 'Nunito', sans-serif;
  font-size: 40px !important;
}

.menu-text-style > .active {
  color: #F64BDF;
}

.navbar {
  position: relative;
  max-width: 1200px;
  margin: auto;
  padding: 2em;
}

.navbar-brand {
  position: absolute;
  top: 2em;
  left: 0;
}